<div class="notification-container">
  <div 
    *ngFor="let notification of notifications; trackBy: trackByFn"
    class="notification-toast"
    [ngClass]="'notification-' + notification.type"
  >
    <div class="notification-content">
      <div class="notification-header">
        <span class="notification-icon">
          <i 
            class="material-icons"
            [ngSwitch]="notification.type"
          >
            <span *ngSwitchCase="'success'">check_circle</span>
            <span *ngSwitchCase="'error'">error</span>
            <span *ngSwitchCase="'warning'">warning</span>
            <span *ngSwitchDefault>info</span>
          </i>
        </span>
        <span class="notification-title">{{ notification.title }}</span>
        <button 
          class="notification-close"
          (click)="removeNotification(notification.id)"
        >
          <i class="material-icons">close</i>
        </button>
      </div>
      <div class="notification-message">
        {{ notification.message }}
      </div>
    </div>
    <div 
      class="notification-progress" 
      *ngIf="notification.duration && notification.duration > 0"
      [style.animation-duration.ms]="notification.duration"
    ></div>
  </div>
</div>